<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="refresh" content="0; url=https://calendly.com/zaxkalyan/30min">
  <link rel="canonical" href="https://calendly.com/zaxkalyan/30min">
  <title>Redirecting to booking...</title>
</head>
<body>
  <script>window.location.replace("https://calendly.com/zaxkalyan/30min");</script>
</body>
</html>
